out/
node_modules/
public/app/cljs-runtime/
public/portfolio/cljs-runtime/
.shadow-cljs/
.nrepl-port
.clj-kondo
.lsp
.calva
.cpcache
.DS_Store
prod
target
target/index.js
.idea
database
pages
mongodb-data
.vscode
linux-install.sh
package-lock.json
